*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blanchedalmond;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    transition: width 2s, height 2s;
    align-items: center;
    height: 500px;
    width: 600px;
    min-width: 300px; 
    min-height: 200px;
    background-color: #2b2323; 
    margin: 0 auto;
    display: flex;
    box-shadow: 4px 4px 4px black;
  }

  .heading{
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .sec1{
    transition: all 2s;
    width: 100px;
    background-color: rgb(137, 139, 139);
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sec1>button{
    margin-bottom: 80px;
  }
  .sec2{
    height: 100%;
    flex-grow: 1;
    background-color: white;
    offset:  1px solid black;
    display: grid;
  }

  .colors{
    display: flex;
    flex-direction: column;
  }

  .c{
    height: 25px;
    width: 25px;
    background-color: #2b2323;
    margin: 2px;
  }
  .white{background-color: white;}
  .red{background-color: red;}
  .blue{background-color: blue;}
  .green{background-color: green;}
  .violet{background-color: violet;}
  .black{background-color: black;}
  .purple{background-color: purple;}
  .sec2>.block{background-color: rgb(255, 255, 255);}
  .rainbow {
    background-image: linear-gradient(to bottom, red, orange, yellow, green, blue, indigo, violet);
  }
  .brushSize{
    transform: rotate(270deg);
  }

  p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .size{
    color: #2b2323;
    font-weight: lighter;
    margin: 2px;
  }

  .colorPicker {
    display: none;
    background-color: hwb(0 100% 0% / 0.705);
    height: 300px;
    width: 300px;
    min-width: 300px; 
    min-height: 200px;
    box-shadow: 4px 4px 4px black;
    position: absolute;
  }
  .blur {
    filter: blur(8px);
  }

  @media only screen and (max-width: 600px){
    .container{
        height: 200px;
        width: 300px;
        transition: width 2s, height 2s;
    }
    .sec1>.colors{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .c{
        transition: all 2s;
        height: 13px;
        width: 13px;
    }
    button.btn{
        margin-bottom: 40px;
    }
    input{
        width: 100px;
    }
  }